<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.springmvc.mapper.SysModuleMapper">
  <resultMap id="BaseResultMap" type="com.zy.springmvc.domain.SysModule">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="module_name" jdbcType="VARCHAR" property="moduleName" />
    <result column="module_code" jdbcType="VARCHAR" property="moduleCode" />
    <result column="parent_module" jdbcType="VARCHAR" property="parentModule" />
    <result column="module_type" jdbcType="VARCHAR" property="moduleType" />
    <result column="module_url" jdbcType="VARCHAR" property="moduleUrl" />
    <result column="module_icon" jdbcType="VARCHAR" property="moduleIcon" />
    <result column="module_eng_desc" jdbcType="VARCHAR" property="moduleEngDesc" />
    <result column="is_run_work_flow" jdbcType="VARCHAR" property="isRunWorkFlow" />
    <result column="is_modify" jdbcType="VARCHAR" property="isModify" />
    <result column="is_ok" jdbcType="VARCHAR" property="isOk" />
    <result column="order_num" jdbcType="INTEGER" property="orderNum" />
    <result column="is_display_front" jdbcType="VARCHAR" property="isDisplayFront" />
    <result column="is_top_menu" jdbcType="VARCHAR" property="isTopMenu" />
    <result column="is_side_menu" jdbcType="VARCHAR" property="isSideMenu" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="ext_field_1" jdbcType="VARCHAR" property="extField1" />
    <result column="ext_field_2" jdbcType="VARCHAR" property="extField2" />
    <result column="ext_field_3" jdbcType="VARCHAR" property="extField3" />
    <result column="ext_field_4" jdbcType="VARCHAR" property="extField4" />
    <result column="ext_field_5" jdbcType="VARCHAR" property="extField5" />
  </resultMap>
  <resultMap id="baseResultMapExt" type="com.zy.springmvc.domain.ModulePermissionUserRelation">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="module_name" jdbcType="VARCHAR" property="moduleName" />
    <result column="parent_module" jdbcType="VARCHAR" property="parentModule" />
    <result column="module_url" jdbcType="VARCHAR" property="moduleUrl" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="entity_name" jdbcType="VARCHAR" property="entityName" />
    <result column="sys_role_id" jdbcType="VARCHAR" property="sysRoleId" />
    <result column="sys_permission_id" jdbcType="VARCHAR" property="sysPermissionId" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="module_icon" jdbcType="VARCHAR" property="moduleIcon" />
    <result column="is_ok" jdbcType="VARCHAR" property="isOk" />
  </resultMap>
  <sql id="Base_Column_List">
    id, module_name, module_code, parent_module, module_type, module_url, module_icon, 
    module_eng_desc, is_run_work_flow, is_modify, is_ok, order_num, is_display_front, 
    is_top_menu, is_side_menu, creator, created_time, modifier, modified_time, ext_field_1, 
    ext_field_2, ext_field_3, ext_field_4, ext_field_5
  </sql>
  <select id="getAllSysModulePermissionByUserName"  resultMap="baseResultMapExt" parameterType="java.lang.String">
    select  DISTINCT a.id,a.module_url, a.module_name,a.parent_module,a.module_icon,a.is_ok, d.username,d.entity_name,c.sys_role_id,c.sys_user_id, c.sys_permission_id,b.`code` from sys_module a
                      INNER JOIN sys_permission  b on a.id = b.sys_module_id
                      INNER JOIN sys_role_permission c on c.sys_permission_id = b.id
                      INNER JOIN sys_user d on d.id =c.sys_user_id
    <if test="username != null and username != 'admin' and username != ''">
      where d.username  = #{username,jdbcType=VARCHAR}
    </if>
  </select>

  <select id="getAllSysModule"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_module order by order_num asc
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_module
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_module
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zy.springmvc.domain.SysModule">
    insert into sys_module (id, module_name, module_code, 
      parent_module, module_type, module_url, 
      module_icon, module_eng_desc, is_run_work_flow, 
      is_modify, is_ok, order_num, 
      is_display_front, is_top_menu, is_side_menu, 
      creator, created_time, modifier, 
      modified_time, ext_field_1, ext_field_2, 
      ext_field_3, ext_field_4, ext_field_5
      )
    values (#{id,jdbcType=VARCHAR}, #{moduleName,jdbcType=VARCHAR}, #{moduleCode,jdbcType=VARCHAR}, 
      #{parentModule,jdbcType=VARCHAR}, #{moduleType,jdbcType=VARCHAR}, #{moduleUrl,jdbcType=VARCHAR}, 
      #{moduleIcon,jdbcType=VARCHAR}, #{moduleEngDesc,jdbcType=VARCHAR}, #{isRunWorkFlow,jdbcType=VARCHAR}, 
      #{isModify,jdbcType=VARCHAR}, #{isOk,jdbcType=VARCHAR}, #{orderNum,jdbcType=INTEGER}, 
      #{isDisplayFront,jdbcType=VARCHAR}, #{isTopMenu,jdbcType=VARCHAR}, #{isSideMenu,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, 
      #{modifiedTime,jdbcType=TIMESTAMP}, #{extField1,jdbcType=VARCHAR}, #{extField2,jdbcType=VARCHAR}, 
      #{extField3,jdbcType=VARCHAR}, #{extField4,jdbcType=VARCHAR}, #{extField5,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zy.springmvc.domain.SysModule">
    insert into sys_module
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="moduleName != null">
        module_name,
      </if>
      <if test="moduleCode != null">
        module_code,
      </if>
      <if test="parentModule != null">
        parent_module,
      </if>
      <if test="moduleType != null">
        module_type,
      </if>
      <if test="moduleUrl != null">
        module_url,
      </if>
      <if test="moduleIcon != null">
        module_icon,
      </if>
      <if test="moduleEngDesc != null">
        module_eng_desc,
      </if>
      <if test="isRunWorkFlow != null">
        is_run_work_flow,
      </if>
      <if test="isModify != null">
        is_modify,
      </if>
      <if test="isOk != null">
        is_ok,
      </if>
      <if test="orderNum != null">
        order_num,
      </if>
      <if test="isDisplayFront != null">
        is_display_front,
      </if>
      <if test="isTopMenu != null">
        is_top_menu,
      </if>
      <if test="isSideMenu != null">
        is_side_menu,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
      <if test="extField1 != null">
        ext_field_1,
      </if>
      <if test="extField2 != null">
        ext_field_2,
      </if>
      <if test="extField3 != null">
        ext_field_3,
      </if>
      <if test="extField4 != null">
        ext_field_4,
      </if>
      <if test="extField5 != null">
        ext_field_5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="moduleName != null">
        #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="moduleCode != null">
        #{moduleCode,jdbcType=VARCHAR},
      </if>
      <if test="parentModule != null">
        #{parentModule,jdbcType=VARCHAR},
      </if>
      <if test="moduleType != null">
        #{moduleType,jdbcType=VARCHAR},
      </if>
      <if test="moduleUrl != null">
        #{moduleUrl,jdbcType=VARCHAR},
      </if>
      <if test="moduleIcon != null">
        #{moduleIcon,jdbcType=VARCHAR},
      </if>
      <if test="moduleEngDesc != null">
        #{moduleEngDesc,jdbcType=VARCHAR},
      </if>
      <if test="isRunWorkFlow != null">
        #{isRunWorkFlow,jdbcType=VARCHAR},
      </if>
      <if test="isModify != null">
        #{isModify,jdbcType=VARCHAR},
      </if>
      <if test="isOk != null">
        #{isOk,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null">
        #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="isDisplayFront != null">
        #{isDisplayFront,jdbcType=VARCHAR},
      </if>
      <if test="isTopMenu != null">
        #{isTopMenu,jdbcType=VARCHAR},
      </if>
      <if test="isSideMenu != null">
        #{isSideMenu,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="extField1 != null">
        #{extField1,jdbcType=VARCHAR},
      </if>
      <if test="extField2 != null">
        #{extField2,jdbcType=VARCHAR},
      </if>
      <if test="extField3 != null">
        #{extField3,jdbcType=VARCHAR},
      </if>
      <if test="extField4 != null">
        #{extField4,jdbcType=VARCHAR},
      </if>
      <if test="extField5 != null">
        #{extField5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zy.springmvc.domain.SysModule">
    update sys_module
    <set>
      <if test="moduleName != null">
        module_name = #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="moduleCode != null">
        module_code = #{moduleCode,jdbcType=VARCHAR},
      </if>
      <if test="parentModule != null">
        parent_module = #{parentModule,jdbcType=VARCHAR},
      </if>
      <if test="moduleType != null">
        module_type = #{moduleType,jdbcType=VARCHAR},
      </if>
      <if test="moduleUrl != null">
        module_url = #{moduleUrl,jdbcType=VARCHAR},
      </if>
      <if test="moduleIcon != null">
        module_icon = #{moduleIcon,jdbcType=VARCHAR},
      </if>
      <if test="moduleEngDesc != null">
        module_eng_desc = #{moduleEngDesc,jdbcType=VARCHAR},
      </if>
      <if test="isRunWorkFlow != null">
        is_run_work_flow = #{isRunWorkFlow,jdbcType=VARCHAR},
      </if>
      <if test="isModify != null">
        is_modify = #{isModify,jdbcType=VARCHAR},
      </if>
      <if test="isOk != null">
        is_ok = #{isOk,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null">
        order_num = #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="isDisplayFront != null">
        is_display_front = #{isDisplayFront,jdbcType=VARCHAR},
      </if>
      <if test="isTopMenu != null">
        is_top_menu = #{isTopMenu,jdbcType=VARCHAR},
      </if>
      <if test="isSideMenu != null">
        is_side_menu = #{isSideMenu,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="extField1 != null">
        ext_field_1 = #{extField1,jdbcType=VARCHAR},
      </if>
      <if test="extField2 != null">
        ext_field_2 = #{extField2,jdbcType=VARCHAR},
      </if>
      <if test="extField3 != null">
        ext_field_3 = #{extField3,jdbcType=VARCHAR},
      </if>
      <if test="extField4 != null">
        ext_field_4 = #{extField4,jdbcType=VARCHAR},
      </if>
      <if test="extField5 != null">
        ext_field_5 = #{extField5,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zy.springmvc.domain.SysModule">
    update sys_module
    set module_name = #{moduleName,jdbcType=VARCHAR},
      module_code = #{moduleCode,jdbcType=VARCHAR},
      parent_module = #{parentModule,jdbcType=VARCHAR},
      module_type = #{moduleType,jdbcType=VARCHAR},
      module_url = #{moduleUrl,jdbcType=VARCHAR},
      module_icon = #{moduleIcon,jdbcType=VARCHAR},
      module_eng_desc = #{moduleEngDesc,jdbcType=VARCHAR},
      is_run_work_flow = #{isRunWorkFlow,jdbcType=VARCHAR},
      is_modify = #{isModify,jdbcType=VARCHAR},
      is_ok = #{isOk,jdbcType=VARCHAR},
      order_num = #{orderNum,jdbcType=INTEGER},
      is_display_front = #{isDisplayFront,jdbcType=VARCHAR},
      is_top_menu = #{isTopMenu,jdbcType=VARCHAR},
      is_side_menu = #{isSideMenu,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      ext_field_1 = #{extField1,jdbcType=VARCHAR},
      ext_field_2 = #{extField2,jdbcType=VARCHAR},
      ext_field_3 = #{extField3,jdbcType=VARCHAR},
      ext_field_4 = #{extField4,jdbcType=VARCHAR},
      ext_field_5 = #{extField5,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>