<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.springmvc.mapper.SysRoleMapper">
  <resultMap id="BaseResultMap" type="com.zy.springmvc.domain.SysRole">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="role_code" jdbcType="VARCHAR" property="roleCode" />
    <result column="role_desc" jdbcType="VARCHAR" property="roleDesc" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="order_num" jdbcType="INTEGER" property="orderNum" />
    <result column="is_ok" jdbcType="VARCHAR" property="isOk" />
    <result column="org_id" jdbcType="VARCHAR" property="orgId" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="tenant_id" jdbcType="VARCHAR" property="tenantId" />
    <result column="ext_field_1" jdbcType="VARCHAR" property="extField1" />
    <result column="ext_field_2" jdbcType="VARCHAR" property="extField2" />
    <result column="ext_field_3" jdbcType="VARCHAR" property="extField3" />
    <result column="ext_field_4" jdbcType="VARCHAR" property="extField4" />
    <result column="ext_field_5" jdbcType="VARCHAR" property="extField5" />
  </resultMap>
  <sql id="Base_Column_List">
    id, role_name, role_code, role_desc, remark, order_num, is_ok, org_id, creator, created_time, 
    modifier, modified_time, tenant_id, ext_field_1, ext_field_2, ext_field_3, ext_field_4, 
    ext_field_5
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_role
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_role
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.zy.springmvc.domain.SysRole" useGeneratedKeys="true">
    insert into sys_role (role_name, role_code, role_desc, 
      remark, order_num, is_ok, 
      org_id, creator, created_time, 
      modifier, modified_time, tenant_id, 
      ext_field_1, ext_field_2, ext_field_3, 
      ext_field_4, ext_field_5)
    values (#{roleName,jdbcType=VARCHAR}, #{roleCode,jdbcType=VARCHAR}, #{roleDesc,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{orderNum,jdbcType=INTEGER}, #{isOk,jdbcType=VARCHAR}, 
      #{orgId,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{modifier,jdbcType=VARCHAR}, #{modifiedTime,jdbcType=TIMESTAMP}, #{tenantId,jdbcType=VARCHAR}, 
      #{extField1,jdbcType=VARCHAR}, #{extField2,jdbcType=VARCHAR}, #{extField3,jdbcType=VARCHAR}, 
      #{extField4,jdbcType=VARCHAR}, #{extField5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.zy.springmvc.domain.SysRole" useGeneratedKeys="true">
    insert into sys_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleName != null">
        role_name,
      </if>
      <if test="roleCode != null">
        role_code,
      </if>
      <if test="roleDesc != null">
        role_desc,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="orderNum != null">
        order_num,
      </if>
      <if test="isOk != null">
        is_ok,
      </if>
      <if test="orgId != null">
        org_id,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
      <if test="tenantId != null">
        tenant_id,
      </if>
      <if test="extField1 != null">
        ext_field_1,
      </if>
      <if test="extField2 != null">
        ext_field_2,
      </if>
      <if test="extField3 != null">
        ext_field_3,
      </if>
      <if test="extField4 != null">
        ext_field_4,
      </if>
      <if test="extField5 != null">
        ext_field_5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleCode != null">
        #{roleCode,jdbcType=VARCHAR},
      </if>
      <if test="roleDesc != null">
        #{roleDesc,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null">
        #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="isOk != null">
        #{isOk,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null">
        #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tenantId != null">
        #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="extField1 != null">
        #{extField1,jdbcType=VARCHAR},
      </if>
      <if test="extField2 != null">
        #{extField2,jdbcType=VARCHAR},
      </if>
      <if test="extField3 != null">
        #{extField3,jdbcType=VARCHAR},
      </if>
      <if test="extField4 != null">
        #{extField4,jdbcType=VARCHAR},
      </if>
      <if test="extField5 != null">
        #{extField5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zy.springmvc.domain.SysRole">
    update sys_role
    <set>
      <if test="roleName != null">
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleCode != null">
        role_code = #{roleCode,jdbcType=VARCHAR},
      </if>
      <if test="roleDesc != null">
        role_desc = #{roleDesc,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null">
        order_num = #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="isOk != null">
        is_ok = #{isOk,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null">
        org_id = #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tenantId != null">
        tenant_id = #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="extField1 != null">
        ext_field_1 = #{extField1,jdbcType=VARCHAR},
      </if>
      <if test="extField2 != null">
        ext_field_2 = #{extField2,jdbcType=VARCHAR},
      </if>
      <if test="extField3 != null">
        ext_field_3 = #{extField3,jdbcType=VARCHAR},
      </if>
      <if test="extField4 != null">
        ext_field_4 = #{extField4,jdbcType=VARCHAR},
      </if>
      <if test="extField5 != null">
        ext_field_5 = #{extField5,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zy.springmvc.domain.SysRole">
    update sys_role
    set role_name = #{roleName,jdbcType=VARCHAR},
      role_code = #{roleCode,jdbcType=VARCHAR},
      role_desc = #{roleDesc,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      order_num = #{orderNum,jdbcType=INTEGER},
      is_ok = #{isOk,jdbcType=VARCHAR},
      org_id = #{orgId,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      tenant_id = #{tenantId,jdbcType=VARCHAR},
      ext_field_1 = #{extField1,jdbcType=VARCHAR},
      ext_field_2 = #{extField2,jdbcType=VARCHAR},
      ext_field_3 = #{extField3,jdbcType=VARCHAR},
      ext_field_4 = #{extField4,jdbcType=VARCHAR},
      ext_field_5 = #{extField5,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>