<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
               http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
            http://www.springframework.org/schema/security
            http://www.springframework.org/schema/security/spring-security-4.2.xsd">

    <security:http>
        <!--<security:intercept-url pattern="/api/platform/main" access="hasAnyAuthority('USER_ROLE')"/>-->
        <security:intercept-url pattern="/platform/error" access="permitAll()"/>
        <security:intercept-url pattern="/platform/login" access="permitAll()"/>
        <security:intercept-url pattern="/platform/register/user" access="permitAll()"/>
        <security:intercept-url pattern="/pictureCheckCode/**" access="permitAll()"/>
        <security:intercept-url pattern="/platform/user/add" access="permitAll()"/>
        <security:intercept-url pattern="/resources/**" access="permitAll()"/>
        <security:intercept-url pattern="/**" access="isFullyAuthenticated()"/>
        <security:form-login login-page="/platform/login"
                             authentication-success-handler-ref="myAuthenticationSuccessHandler"
                             authentication-failure-handler-ref="myAuthenticationFailureHandler"/>
        <!--无权限访问跳转页面-->
        <security:access-denied-handler error-page="/platform/403"/>
        <!--用户登录前增加验证码-->
        <security:custom-filter ref="imageCodeAuthencationFilter" before="FORM_LOGIN_FILTER"/>
        <security:custom-filter ref="mySecurityFilter" before="FILTER_SECURITY_INTERCEPTOR"/>
        <security:csrf disabled="true"/>
        <!--logout-url:退出登录要拦截的URL invalidate-session:是否清楚session-->
        <security:logout logout-url="/logout" logout-success-url="/platform/login" invalidate-session="true"/>
        <security:session-management>
            <!--配置回话最大过期时间-->
            <security:concurrency-control max-sessions="30"/>
        </security:session-management>

        <!--<security:remember-me token-validity-seconds="1800" token-repository-ref="jdbcTokenRepository"-->
                              <!--remember-me-parameter="remember"-->
                              <!--authentication-success-handler-ref="myAuthenticationSuccessHandler"/>-->
        <security:headers >
            <!-- Spring Security4默认是将'X-Frame-Options' 设置为 'DENY'
                DENY - is a default value. With this the page cannot be displayed in a frame, regardless of the site attempting to do so.
                SAMEORIGIN - I assume this is what you are looking for, so that the page will be (and can be) displayed in a frame on the same origin as the page itself
                ALLOW-FROM - Allows you to specify an origin, where the page can be displayed in a frame.-->
            <security:frame-options policy="SAMEORIGIN"/>
        </security:headers>
    </security:http>

    <security:authentication-manager alias="authencationManager">
        <security:authentication-provider user-service-ref="securityUserService">
            <!--<security:password-encoder ref="passwordEncoder" hash="md5"/>-->
        </security:authentication-provider>
    </security:authentication-manager>

    <!--验证码处理类-->
    <bean id="imageCodeAuthencationFilter" class="com.zy.springmvc.security.ImageCodeAuthencationFilter">
        <property name="myAuthenticationFailureHandler" ref="myAuthenticationFailureHandler"/>
        <!--配置是否开启验证码-->
        <property name="openImageCodeCheck" value="false"/>
    </bean>

    <bean id="mySecurityFilter" class="com.zy.springmvc.security.MySecurityFilter">
        <property name="authenticationManager" ref="authencationManager"/>
        <property name="accessDecisionManager" ref="myAccessDecisionManager"/>
        <property name="securityMetadataSource" ref="mySecurityMetadataSource"/>
    </bean>

    <bean id="mySecurityMetadataSource" class="com.zy.springmvc.security.MySecurityMetadataSource"/>
    <bean id="myAccessDecisionManager" class="com.zy.springmvc.security.MyAccessDecisionManager"/>
    <bean id="securityUserService" class="com.zy.springmvc.security.UserDetailsServiceImpl"></bean>
    <bean id="myAuthenticationSuccessHandler" class="com.zy.springmvc.security.MyAuthenticationSuccessHandler"></bean>
    <bean id="myAuthenticationFailureHandler" class="com.zy.springmvc.security.MyAuthenticationFailureHandler"></bean>
    <bean id="passwordEncoder" class="org.springframework.security.authentication.encoding.Md5PasswordEncoder"/>

    <bean id="jdbcTokenRepository"
          class="org.springframework.security.web.authentication.rememberme.JdbcTokenRepositoryImpl">
        <property name="dataSource" ref="dataSource"/>
        <property name="createTableOnStartup" value="false"/>
    </bean>
</beans>